@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8' standalone='no'%3f%3e %3csvg viewBox='0 0 512 512' version='1.1' id='svg12' sodipodi:docname='crosshairs-solid (1).svg' inkscape:version='1.2.1 (9c6d41e410%2c 2022-07-14)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3e%3cdefs id='defs16'/%3e%3csodipodi:namedview id='namedview14' pagecolor='white' bordercolor='black' borderopacity='0.25' inkscape:showpageshadow='2' inkscape:pageopacity='0.0' inkscape:pagecheckerboard='0' inkscape:deskcolor='%23d1d1d1' showgrid='false' inkscape:zoom='1.7128906' inkscape:cx='256' inkscape:cy='256.2919' inkscape:window-width='1920' inkscape:window-height='1057' inkscape:window-x='-8' inkscape:window-y='-8' inkscape:window-maximized='1' inkscape:current-layer='svg12'/%3e%3c!--! Font Awesome Pro 6.1.2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons%2c Inc. --%3e%3cpath d='M224 256C224 238.3 238.3 224 256 224C273.7 224 288 238.3 288 256C288 273.7 273.7 288 256 288C238.3 288 224 273.7 224 256zM256 0C273.7 0 288 14.33 288 32V42.35C381.7 56.27 455.7 130.3 469.6 224H480C497.7 224 512 238.3 512 256C512 273.7 497.7 288 480 288H469.6C455.7 381.7 381.7 455.7 288 469.6V480C288 497.7 273.7 512 256 512C238.3 512 224 497.7 224 480V469.6C130.3 455.7 56.27 381.7 42.35 288H32C14.33 288 0 273.7 0 256C0 238.3 14.33 224 32 224H42.35C56.27 130.3 130.3 56.27 224 42.35V32C224 14.33 238.3 0 256 0V0zM224 404.6V384C224 366.3 238.3 352 256 352C273.7 352 288 366.3 288 384V404.6C346.3 392.1 392.1 346.3 404.6 288H384C366.3 288 352 273.7 352 256C352 238.3 366.3 224 384 224H404.6C392.1 165.7 346.3 119.9 288 107.4V128C288 145.7 273.7 160 256 160C238.3 160 224 145.7 224 128V107.4C165.7 119.9 119.9 165.7 107.4 224H128C145.7 224 160 238.3 160 256C160 273.7 145.7 288 128 288H107.4C119.9 346.3 165.7 392.1 224 404.6z' id='path10' style='fill:%23ff3939%3bfill-opacity:1'/%3e%3c/svg%3e") 16 16, pointer;
}
   


:root{
    --background: #1D1717;
    --board:#393232;
    --square:#fff;
    --squareHover:#e9e9e9;
    --button:#FF3939;
    --buttonBody:#721515;

    --cursor:#FF3939;
    --machine:#5C349C;
    --player:#FF5E03;
    
    --fredoka: 'Fredoka One', cursive;
    --montserrat: 'Montserrat', sans-serif;
}
body{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    

    
}

#game{
    width: 1080px;
    height: 100vh;
    /* background-color: rgba(147, 145, 218, 0.089); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard{
    padding: 10px;
    background-color: var(--board);
    border-radius: 20px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.square{
    background-color: var(--square);
    border-radius: 10px;
    
    font-family: var(--montserrat);
    font-weight: 500px;
    font-size: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;

    /* cursor: pointer; */
    user-select: none;
}
.square:hover{
    background-color: var(--squareHover);
}

.square *{
    transition:  cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function: ease-out;
}
.btn{
    width: 12rem;
    height: 3.5rem;

    border-radius: 50px;
    border-style: none;
    background-color: var(--button);
    box-shadow: var(--buttonBody) 0px 5px;

    font-size: 1.5rem;
    font-family: var(--fredoka);
    color: white;
    margin-top: 15px;

    user-select: none;
    
}

.btn:hover{
    background-color: rgb(212, 44, 44);
}

.btn:active{
    transform: translateY(4px);
    box-shadow: var(--buttonBody) 0px 1px;
}

.fa-circle-dot{
    font-size: 6.5rem;
    color: var(--machine);
}

.ex{
    font-size: 12.5rem;
    transform: rotate(45deg);
    color: var(--player);
}

.reStart{
    display: none;
}

.gameScore{
    display: none;
    justify-content: center;
    gap: 10rem;
    color: white;
    margin-bottom: 1rem;
}

h2{
    font-family: var(--montserrat);
}